<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>ProcessServlet</servlet-name>
        <servlet-class>Servlet.ProcessServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MainServlet</servlet-name>
        <servlet-class>Servlet.MainServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExploreServlet</servlet-name>
        <servlet-class>Servlet.ExploreServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExplorePartialServlet</servlet-name>
        <servlet-class>Servlet.Partial.ExplorePartialServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ArticleServlet</servlet-name>
        <servlet-class>Servlet.ArticleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AuthorServlet</servlet-name>
        <servlet-class>Servlet.AuthorServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProcessServlet</servlet-name>
        <url-pattern>/ProcessServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainServlet</servlet-name>
        <url-pattern>/MainServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExploreServlet</servlet-name>
        <url-pattern>/ExploreServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExplorePartialServlet</servlet-name>
        <url-pattern>/explore</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ArticleServlet</servlet-name>
        <url-pattern>/ArticleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuthorServlet</servlet-name>
        <url-pattern>/AuthorServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>ProcessServlet</welcome-file>
    </welcome-file-list>
    <filter>
        <description>
            This filter class removes any whitespace from the response. It actually trims all
            leading and trailing spaces or tabs and newlines before writing to the response stream.
            This will greatly save the network bandwith, but this will make the source of the
            response more hard to read.
        </description>
        <filter-name>whitespaceFilter</filter-name>
        <filter-class>Services.WhitespaceFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>whitespaceFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
</web-app>
