.auArticle-image {
    display: inline-table;
    width: 30%;
    min-width: 150px;
    float: left; 
    margin-right: 16px;
}

.auArticle-image img {
    display: inline-table;
    float: right;
    width: 65%;
    height: 65%;
    min-width: 100px;
    border-radius: 50%;
}

.auArticle-text { 
    display: inline-table;
    width: 65%;
    float: left;
    min-width: 300px;
    word-wrap: break-word;
}